@import 'semantic';
@import 'base';

section, header, footer{
	@include column(12);
}
header.topbar{
	text-align: center;
}
.container{
	width: 90%;
	max-width: 1260px;
	margin: 0 auto;
}
.carousel{
	display:none;
	@include column(6);
	@include push(3);
	.slides{
		margin-bottom: 10px;
		@include column(11);
		height: auto;
		min-height: 185px;
		overflow:hidden;
		position:relative;
		.slide{
			display:none;
			padding: 10px;
			position: absolute;
		}
		.slide.slideinNext{
			display:inline;
			@include slideAnimation("slideinNext", 1s);
			overflow:hidden;
			position:absolute;
		}
		.slide.slideoutNext{
			display:inline;
			@include slideAnimation("slideoutNext", 1s);
			overflow:hidden;
			position:absolute;
		}
		.slide.slideinPrev{
			display:inline;
			@include slideAnimation("slideinPrev", 1s);
			overflow:hidden;
			position:absolute;
		}
		.slide.slideoutPrev{
			display:inline;
			@include slideAnimation("slideoutPrev", 1s);
			overflow:hidden;
			position:absolute;
		}
		.slide.active{
			display:block;
			margin-bottom: 5px;
			background: #fff;
			opacity: 100;
			width:100%;
		}
	}
	.controls{
		@include column(11);
		.next{
			float:right;
		}
		.prev{
			float:left;
		}
	}
}

/** slide in from the Right **/
@keyframes slideinNext{
	from { transform:translateX(100%); }
	to { transform:translateX(0); }	
}
@-webkit-keyframes slideinNext{
	from { -webkit-transform:translateX(100%); }
	to { -webkit-transform:translateX(0); }	
}
@-moz-keyframes slideinNext{
	from { -moz-transform:translateX(100%); }
	to { -moz-transform:translateX(0); }	
}

/** slide out to the Left **/
@keyframes slideoutNext{
	from { transform : translateX(0); }
	to { transform : translateX(-100%); }	
}
@-webkit-keyframes slideoutNext{
	from { -webkit-transform : translateX(0); }
	to { -webkit-transform : translateX(-100%); }	
}
@-moz-keyframes slideoutNext{
	from { -moz-transform : translateX(0); }
	to { -moz-transform : translateX(-100%); }	
}

/** slide in from the Left **/
@keyframes slideinPrev{
	from { transform: translateX(-100%); }
	to { transform : translateX(100%); }	
}
@-webkit-keyframes slideinPrev{
	from { -webkit-transform: translateX(-100%); }
	to { -webkit-transform : translateX(0); }	
}
@-moz-keyframes slideinPrev{
	from { -moz-transform: translateX(-100%); }
	to { -moz-transform : translateX(100%); }	
}
/** slide out to the Right **/
@keyframes slideoutPrev{
	to { transform : translateX(100%); }		
}
@-webkit-keyframes slideoutPrev{
	to { -webkit-transform : translateX(100%); }		
}
@-moz-keyframes slideoutPrev{
	to { -moz-transform : translateX(100%); }		
}